.buttonLr8 {
    background-color: rgb(224, 224, 224);
    border: 1px solid gray;
    border-radius: 5px;
    height: max-content;
    width: 150px;
    transition: 1s;
    font-size: large;
    box-shadow: 0 0 4px 2px black;
}

.buttonLr8:hover{
    transform: scale(1.2);
    background-color: white;
    color: rgb(7, 255, 102);
    box-shadow: 0 0 5px 2px rgb(82, 82, 255);
}

.wrapper{
    margin: 15% 0 0 45%;
}