.head {
    height: 100px;
    background: linear-gradient(80deg, rgb(56, 56, 255),rgb(182, 73, 91));
    position: relative;
}

.wrapper{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    width: max-content;
    height: max-content;
    margin: 0 auto;
    position: absolute;
    top: 40%;
    left: 45%;
    margin-right: -50%;
}

.wrapper a{
    color:white;
    width: fit-content;
    width: 75px;
    text-align: center;
    text-decoration: none;
}